h1,h3{
    text-align: center;
}
h3{
    background-color: blueviolet;
    color: aliceblue;
    padding: 10px;
}
.container{
    margin: auto;
    position: relative;
    width: 150px;
    height: 80px;
    padding: 10px;
    border: 1px dotted gray;
}

.box{
    display: inline-block;
    position: relative;
    width: 46px;
    height: 30px;
    border: 1px dashed gray;
    background-color: antiquewhite;
}
.box2{
    position: relative;
    top: 20px;
    left: 20px;
}
.bot-left{
    position: absolute;
    bottom: 3px;
    left: 3px;
    font-size: 10px;
    opacity: 0.3;
}

.bot-right{
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 7px;
    opacity: 0.3;
}

.rpos{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 5px;
}

.ab-box{
    position: absolute;
    top: 20px;
    left: 20px;
}