.container{
    border: 1px solid black;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 20%;
    padding: 10px;
    background-color:#ffff004f;
}
img{
    width: 90px;
    height: 85px;
}
.picture, .info{
    float: left;
}
.picture{
    width: 90px;
    height: 85px;
    border: 1px solid black;
}
.name{
    font-size: 18px;
    margin: 8px;
}
p{
    margin: 0;
    font-size: 14px;
}
.jte{
    margin-left: 8px;
}
